@model.Assignment_3rd_run.Models.Tag

<h4>Interested in any field?</h4>

@using (Html.BeginForm("AddTag", "NewsColumnsViewModels")
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>MembershipType</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
        </div>
    </div>

</div>
}
