@model Assignment_3rd_run.ViewModels.NewsColumnsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>

<div><p>&nbsp;</p></div>

<h3>News</h3>


@foreach (var item in Model.VM_News)
{
    <div class="media">
        <div class="media-left media-top">
            <img src="@item.Image" class="media-object" style="width:150px">
        </div>
        <div class="media-body">
            <h4 class="media-heading">@Html.DisplayFor(model => item.Headline)</h4>
            <p>@Html.DisplayFor(model => item.Content)</p>
        </div>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </div>
}

<div><p>&nbsp;</p></div>

<h3>Columns</h3>
@foreach (var item in Model.VM_Column)
{
    <div class="media">
        <div class="media-left media-top">
            <img src="@item.Image" class="media-object" style="width:150px">
        </div>
        <div class="media-body">
            <h4 class="media-heading">@Html.DisplayFor(model => item.Column_header)</h4>
            <p>@Html.DisplayFor(model => item.Column_content)</p>
        </div>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </div>
}

<div><p>&nbsp;</p></div>

<div class="row">
    <p><a href="/NewsColumnsViewModels/ChooseTag" class="btn btn-default">Add Tag &raquo;</a></p>
</div>
