@model IEnumerable<Assignment_3rd_run.ViewModels.NewsColumnsViewModel>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("ChooseTag")


@if (Model != null)
{
    foreach (var item in Model)
    {
        int count = 0;
        var tempNews = item.VM_News.SingleOrDefault(m => m.Id == count);
        var tempColumn = item.VM_Column.SingleOrDefault(m => m.Id == count);
        <div class="media">
            <div class="media-left media-top">
                <img src="@tempNews.Image" class="media-object" style="width:150px">
            </div>
            <div class="media-body">
                <h4 class="media-heading">@Html.DisplayFor(model => tempNews.Headline)</h4>
                <p>@Html.DisplayFor(model => tempNews.Content)</p>
            </div>
            @Html.ActionLink("Edit", "Edit", new { id = tempNews.Id }) |
            @Html.ActionLink("Details", "Details", new { id = tempNews.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = tempNews.Id })
        </div>

        <div class="media">
            <div class="media-left media-top">
                <img src="@tempColumn.Image" class="media-object" style="width:150px">
            </div>
            <div class="media-body">
                <h4 class="media-heading">@Html.DisplayFor(model => tempColumn.Column_header)</h4>
                <p>@Html.DisplayFor(model => tempColumn.Column_content)</p>
            </div>
            @Html.ActionLink("Edit", "Edit", new { id = tempColumn.Id }) |
            @Html.ActionLink("Details", "Details", new { id = tempColumn.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = tempColumn.Id })
        </div>

        count += 0;
    }
}
else
{
    <p>Error 404: No record found</p>
}
